<h1>Eat-Da-Burger!</h1>


<ul id="displayBurger">
  {{#each burgers}}
  {{burger_name}}
  {{/each}}

  <button id="devouredID">devour it</button>
</ul>

<h2>Burgers that are devoured!</h2>

<div>
  {{#each burgers}}
  {{/each}}
</div>

<h2>Add a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="ca">Which burger would you like to order?</label>
    <input type="text" id="burger_input" name="name">
  </div>

  <button id="submitButton" type="submit">Submit Burger</button>
</form>